* {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.transition-by-itself {
  transition: none;
}

:root {
  --primary: #705df2;
  --primary-darker: rgba(21, 12, 34);
  --highlight: rgba(235, 235, 244, 0.72);
  --hint: grey;
  /* --disabled */
}

.little-shadow {
  box-shadow: 0px 3px 5px rgba(112, 144, 156, 0.25);
}

.medium-shadow {
  box-shadow: 0px 5px 10px rgba(112, 144, 156, 0.25);
}

.rounded-border {
  border-radius: 20px;
}

body {
  margin: 0;
}

h2 {
  color: var(--primary);
}

.solid-row {
  background-color: white;
}

/* .transparent-row {
  color: white;
} */

.background-card {
  background-color: var(--highlight);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: fit-content;
}

td,
th {
  border: 1px solid var(--highlight);
  text-align: left;
  padding: 8px;
  border-radius: 5px;
}

tr:nth-child(even) {
  background-color: var(--highlight);
}

p {
  font-size: 16px;
}

li {
  font-size: 16px;
}

dd {
  color: var(--hint);
}
